<h1>New Trip!</h1>

<%= form_for(@trip) do |f| %>

  <%= f.label :destination %><br>
  <br>
  <%= f.text_field :destination %><br>
  <br>

  <%= f.label :content %><br>
  <br>
  <%= f.text_area :content %><br>
  <br>

  <%= f.submit %><br>
  <br>

<% end %>