<h1><%= index_header %></h1><br>

<%= form_tag("/blogs", method: "get") do %>
  <%= label_tag(:q, "Search for Blogs Here:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %><br>

<% if @blogs.empty? %>
  <h2>No blogs yet, create a blog now! <%= link_to "Share", new_blog_path %></h2>
<% else %>

  <%= render @blogs %>

<% end %>
