<h1><%= @blog.title %></h1><br>
<h2>Written by: <%=@blog.user.username %></h2><br>

<h3>City: <%= @blog.city.try(:name)%></h3><br>
<% if @blog.user == current_user %>
  <h4><%= link_to "Edit", edit_blog_path(@blog), class: 'btn btn-secondary' %></h4><br>
  <h4><%= button_to 'Delete', @blog,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></h4><br>
<% end %>

<div><%= @blog.content %></div><br><br>

<p><%= link_to 'Add a New Comment', new_blog_comment_path(@blog), class: 'btn btn-secondary' %></p><br>

<% if !@blog.comments.empty? %>
  <h4> All Comments:</h4><br><br>

  <% @blog.comments.order(updated_at: :desc).limit(3).each do |c| %>
    <div>
      <strong><%=c.user.username%></strong><br><br>

      <p><%= link_to c.content, blog_comment_path(@blog,c)%> at <%= c.updated_at.strftime("%I:%M %p on %m/%d/%Y")%></p><br>
    </div><br>
  <% end %>
<% end %>
