<h1>Edit Comment!</h1>

<%= render partial: "layouts/errors", locals: {object: @comment} %><br>


<%= form_for(@comment) do |f|%>

    <%= f.label :blog %>
    <%= f.collection_select :blog_id, Blog.all, :id, :title %>

     <br><br>

    <%= f.label :content %>
    <%= f.text_area :content %><br>
    <br>

  <%= f.submit "Edit Comment", class: "btn btn-primary btn-lg" %><br>

<% end %>