<% if @comment.blog %>
  <h1>New Comment for <%=@comment.blog.title %>!</h1>
<% else %>
  <h1>New Comment!</h1>
<% end %>

<%= render partial: "layouts/errors", locals: {object: @comment} %>


<%= form_for([@comment.blog,@comment]) do |f|%>

  <%if !@comment.blog %>
    <%= f.label :blog %>
    <%= f.collection_select :blog_id, Blog.all, :id, :title %>
  <% else %>
    <% f.hidden_field :blog_id %>
  <% end %>
  <br>
  <br>

  <%= f.label :content %>
  <%= f.text_area :content %><br>
  <br>
  <% f.submit %>

<% end %>