<!DOCTYPE html>
<html>
  <head>
    <title>Travelgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <% if logged_in? %>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <%= link_to "Add a Blog", new_blog_path, class: "nav", class: 'btn btn-light btn-sm'%>  •
        </li>
        <li class="nav-item">
          <%= link_to "View All Blogs", blogs_path, class: 'btn btn-light btn-sm'%>  •
        </li>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: 'btn btn-light btn-sm'%>  •
        </li>
        <li class="nav-item">
          <%= button_to "Logout", logout_path, method: :delete, class: 'btn btn-light btn-sm'%>
        </li>
        <li class="nav-item">
           • <%= link_to "View My Blogs", user_blogs_path(current_user), class: 'btn btn-light btn-sm'%>
        </li>
      </ul>
  <% else %>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <%= link_to "Log In", login_path, class: 'btn btn-primary' %> •
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", signup_path, class: 'btn btn-primary' %>
        </li>
      </ul>
    <% end %>
  </div>

  <div>
    <% if flash[:message] %>
      <%= flash[:message] %>
    <% end %>

    <%= @error %>
  </div>
    <%= yield %>
  </body>
</html>
